.add-user-form {
  .ant-form-item-control {
    line-height: 24px;
  }
}

.add-user-form__form-item{
  margin-bottom: 8px;
}

.add-user-form__label {
  font-size: 12px;
}

.add-user-form__delete {
  padding-top: 28px;
}

.add-user-form__add-button {
  width: 60%;
  margin-top: 8px;
}
