.assign-permission-form-item {
  margin-bottom: 8px;
}

.add-role-col, .delete-role-col {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-wrapper {
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #666;
  }
}

.role-list-row {
  border-top: 1px solid #eee;
  line-height: 38px;
  .role-list-item {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    .role-list-resource-tag-wrapper {
      flex: 1;
      line-height: 28px;
      padding-top: 5px;
    }
  }
  .resource-tag {
    border-radius: 1px;
    color: #3283c8;
    height: 21px;
    line-height: 20px;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 0;
  }
  .ant-tag-has-color .anticon-close{
    color:#999;
  }
}