.group-form-item {
  margin-bottom: 8px;
}

.add-button-col, .delete-button-col {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-wrapper {
    cursor: pointer;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #666;
  }
}

.group-list-row {
  border-top: 1px solid #eee;
  line-height: 38px;
}